.h2 {
  font-weight: 870;
  font-size: 24px;
  line-height: 32px;
  margin: 0;
}

.p {
  font-weight: 510;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  margin: 0;
}

.title span {
  color: var(--color-text-secondary);
}
