:root {
  --color-primary: #2953e2;
  --color-primary-bg: #edf1ff;

  --color-secondary-bg: #ffeded;
  --color-third-bg: #f2edff;

  --color-bg-main: #ffffff;
  --color-text-primary: #000000;
  --color-text-secondary: rgba(0, 0, 0, 0.2);

  --space: 4px;
  --space8: calc(var(--space) * 2);
  --space12: calc(var(--space) * 3);
  --space16: calc(var(--space) * 4);
  --space20: calc(var(--space) * 5);
  --space24: calc(var(--space) * 6);
  --space28: calc(var(--space) * 7);
  --space32: calc(var(--space) * 8);
  --space36: calc(var(--space) * 9);
  --space40: calc(var(--space) * 10);

  --border-radius: 4px;
  --border-radius8: calc(var(--border-radius) * 2);
  --border-radius12: calc(var(--border-radius) * 3);
  --border-radius16: calc(var(--border-radius) * 4);

  --transition-short: 0.1s;
  --transition: 0.2s;
  --transition-long: 0.4s;

  --font-primary: var(--font-sf-pro);

  --scrollbar-track-color: transparent;
  --scrollbar-color: var(--color-primary);
  --scrollbar-side: var(--space8);

  --container-width: 1145px;
}
